<!DOCTYPE html>
<head>
    <script src="assets/js/bundle.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/addstyle.css">

</head>
<html>
<body>
<div id="main">
    <h1>Add a Listing</h1>
    <form>
        <input id="auto" type="button" value="add by isbn">
        <br>
        <label>Title:</label><br>
        <input class="fillField" id="title" type="text">
        <br>
        <label>Author:</label><br>
        <input class="fillField" id="author" type="text">
        <br>
        <label>Description:</label><br>
        <textarea draggable="false" maxlength="500" class="fillField" id="desc"></textarea>
        <br>
        <label>Publish Date:</label><br>
        <input class="fillField" id="pubDate" type="text">
        <br>
        <label>Price:</label><br>
        <input id="price" type="text">
        <br>
        <label>Image:</label><br>
        <img id="thumbnail" src="">
    </form>
</div>

</body>

</html>

